# Ensure you have Python 3 installed.
# Wndows' install comes with tkinter, Linux doesn't.
# For Debian/Ubuntu users: sudo apt install python3-tk
# For Fedora users: sudo dnf install python3-devel

plyer==2.1.0
PyAutoGUI==0.9.54
pynput==1.7.7
simpleaudio==1.0.4
systemd-python==235
tkcalendar==1.6.1