# Ensure you have Python 3 installed.
# Wndows' install comes with tkinter, Linux doesn't.
# For Debian/Ubuntu users: sudo apt install python3-tk
# For Fedora users: sudo dnf install python3-devel

PyAutoGUI==0.9.54
pynput==1.7.7
tkcalendar==1.6.1